/admin/node_modules
/vendor
/api/public/image_brand2
/api/public/export
/api/public/export2
/api/public/image_banner
/api/public/image_banner2
/api/public/image_brand
/api/public/image_plugin
/api/public/image2
